.panel.panel-default(style='display:inline-block; margin-right: 10px' )
    .panel-body(style='display:flex;')
        #viewContainer
        button(style='margin-left: 10px;').btn.btn-success#addBtn Add
