.col-md-8.col-md-offset-2
    .form
        .form-group
            button(style='margin-right: 10px;')#btnSuccess.btn.btn-success Save
            a.btn.btn-danger(href='/##{key}') Cancel
        #attributeContainer
